.parent-register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ViewRegisterMainGate {
    border-top: 1px solid lightblue;
    border-left: 1px solid lightblue;
    border-right: 3px solid lightskyblue;
    border-bottom: 3px solid lightskyblue;
    padding: 0.75rem;
    margin: 0.75rem;
    width:350px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  .ViewRegisterMainGate > * {
    align-self: center;
    justify-self: center;
  }
  
  .ViewRegisterMainGate_title {
    text-align: center;
  }
.btn-parent {
    --bs-btn-color: #ffffff!important;
    --bs-btn-bg: #656966!important;
    --bs-btn-border-color: #656966;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #656966;
    --bs-btn-hover-border-color: #656966;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #656966;
    --bs-btn-active-border-color: #656966;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #656966;
    --bs-btn-disabled-border-color: #656966;
}
  