.ViewSitters {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 0.75rem;

  border: 1px solid black;
  padding: 0.75rem;
  margin: 0.75rem;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}