.ViewRegisterMainGate {
  border: 1px solid black;
  padding: 0.75rem;
  margin: 0.75rem;
  width:350px;
}

.ViewRegisterMainGate > * {
  align-self: center;
  justify-self: center;
}

.ViewRegisterMainGate_title {
  text-align: center;
}

