.PartialSitter_singleParent {
  border-left: 1px plum solid;
  border-top: 1px plum solid;
  box-shadow: rgba(230, 8, 159, 0.25) 0px 13px 27px -5px, rgba(228, 159, 204, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 10;
}
