.PartialChatRequest {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  padding: 0.75rem;
}

.PartialChatRequest_firstName {
  grid-area: 1/1/2/2;
  align-self: center;
  justify-self: start;
}

.PartialChatRequest_lastName {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: start;
}

.PartialChatRequest_coverLetter {
  grid-area: 2/1/3/3;
}

.PartialChatRequest_firstName,
.PartialChatRequest_lastName,
.PartialChatRequest_coverLetter {
  position: relative;
  background: #9887F9;
  border: 3px solid #5847C1;
  border-radius: 1.25rem;
  margin: 1.25rem .5rem .5rem .5rem;
  padding: 1.25rem .75rem .75rem .75rem;
  min-width: 150px;
}

.PartialChatRequest_firstName::after,
.PartialChatRequest_lastName::after,
.PartialChatRequest_coverLetter::after {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(.75rem, -50%);

  background: white;
  border: 3px solid #5847C1;
  padding: 0.25rem;
}

.PartialChatRequest_firstName::after {
  content: "FIRST NAME";
}

.PartialChatRequest_lastName::after {
  content: "LAST NAME";
}

.PartialChatRequest_coverLetter::after {
  content: "COVER LETTER";
}